# Backend 

SUPABASE_URL="_PROJECT_URL"
SUPABASE_SERVICE_ROLE_KEY="PROJECT_SERVICE_ROLE"
GEMINI_API_KEY="API_KEY"
#Frontend
VITE_API_KEY = ""
VITE_SUPABASE_URL="PROJECT_URL"
VITE_SUPABASE_ANON_KEY="PROJECT_SERVICE_ROLE"
VITE_SUPABASE_SERVICE_ROLE_KEY="SSERVICE_ROLE"
VITE_Gemini_API_KEY="API_ROLE"
